[DXR]
disabled_plugins = buglink python xpidl

[chakracore]
source_folder       = /home/dxr/source

# NOTE: SEGMENTATION FAIL when trying to build a debugging build
# So this indexing only works for release build
build_command       = chmod a+x /home/dxr/source/cc && chmod a+x /home/dxr/source/cxx && rm -rf /home/dxr/source/BuildLinux && sudo apt-get install -y build-essential cmake libunwind8-dev libicu-dev && /home/dxr/source/build.sh --cxx=/home/dxr/source/cxx --cc=/home/dxr/source/cc -j=2 --static
